@charset 'UTF-8';

:root {
	--piot-blue: rgb(27, 54, 93);
	--text: #222;
  }
  
  /* Reset CSS */
  body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-feature-settings: "liga";
	line-height: 1.5;
	text-align: left;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	color: var(--text);
	background-color: #fff;
  }
  
  a {
	text-decoration: none;
	color: #222;
	background-color: transparent;
  }
  
  dl,
  ul,
  ol,
  li {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  img {
	vertical-align: middle;
	border-style: none;
  }
  
  /* Default CSS */
  .container {
	width: 100%;
	padding-right: 14px;
	padding-left: 14px;
	margin-right: auto;
	margin-left: auto;
  }
  
  #secondary img,
  article img,
  figure,
  img,
  img.wp-post-image {
	max-width: 100%;
	height: auto;
  }