@charset 'UTF-8';

@media screen and (max-width: 575.98px) {
    .container {
        padding: 0 15px;
    }
}
  
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    #wrapper-navbar {
        .global-navmenu-wrap {
            .global-navmenu {
                max-width: 540px;
            }
        }
        .sub-navmenu-wrap {
            .sub-navmenu {
                max-width: 540px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    #wrapper-navbar {
        .global-navmenu-wrap {
            .global-navmenu {
                max-width: 720px;
            }
        }
        .sub-navmenu-wrap {
            .sub-navmenu {
                max-width: 720px;
            }
        }
    }
}


@media screen and (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
    #wrapper-navbar {
        .global-navmenu-list {
            display: flex;
        }
        .global-navmenu-wrap {
            .global-navmenu {
                max-width: 1140px;
            }
        }
        .sub-navmenu-wrap {
            .sub-navmenu {
                max-width: 1140px;
            }
        }
    }
}
  
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1412px;
    }
    #wrapper-navbar {
        .global-navmenu-wrap {
            .global-navmenu {
                max-width: 1412px;
            }
        }
        .sub-navmenu-wrap {
            .sub-navmenu {
                max-width: 1412px;
            }
        }
    }
}
  
@media screen and (max-width: 1411.98px) {
    .container {
        padding: 0 50px;
    }
    #wrapper-navbar {
        .global-navmenu-wrap {
            .global-navmenu {
                padding: 0 50px;
            }
        }
        .sub-navmenu-wrap {
            .sub-navmenu {
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }
}
  
  
  @media (max-width: 767.98px) {
  
    // .navbar-expand-md>.container,
    // .navbar-expand-md>.container-fluid {
    //   padding-right: 0;
    //   padding-left: 0;
    // }
  }
  
  @media (min-width: 768px) {
  
    // .navbar-expand-md>.container,
    // .navbar-expand-md>.container-fluid {
    //   -ms-flex-wrap: nowrap;
    //   flex-wrap: nowrap;
    // }
  }
  
  @media (min-width: 576px) {
    #wrapper-navbar {
        height: 75px;
        line-height: 75px;
    }
}

  @media (min-width: 768px) {
    // .navbar-expand-md {
    //   -webkit-box-orient: horizontal;
    //   -webkit-box-direction: normal;
    //   -ms-flex-flow: row nowrap;
    //   flex-flow: row nowrap;
    //   -webkit-box-pack: start;
    //   -ms-flex-pack: start;
    //   justify-content: flex-start;
    // }
  }
  
  @media (max-width: 575.98px) {
    .navbar-light .navbar-brand {
      padding-left: 15px;
      margin-top: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .col-md-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .mag_kacheln {
      padding-top: 0;
      padding-bottom: 50px !important;
    }

    .mag_kacheln h4, .home-kacheln-text {
      padding: 0;
    }
  }
  
  @media (min-width: 576px) {
    .col-sm-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .flex-md-nowrap {
      -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
    }
  }
  
  @media (max-width: 575.98px) {
    .mag_bewerben>.container {
      padding: 0;
    }
  }
  
  @media (max-width: 991.98px) {
    .mag_bewerben>.container {
      padding: 0 50px;
      max-width: 720px;
    }
  }
  
  @media (max-width: 575.98px) {
  
    .mag_bewerben .image-container .h-100 {
      height: auto !important;
    }
  }
  
  @media (max-width: 575.98px) {
    .mag_bewerben .image-container img {
      min-height: 300px;
    }
  }
  
  @media (min-width: 768px) {
    .mag_bewerben .image-container img {
      min-height: 600px;
    }
  }
  
  @media (max-width: 991.98px) {
    .mag_bewerben .image-container img {
      min-height: 600px;
    }

    .mag_bewerben .textblock {
      padding: 0;
    }
  }
  
  @media (max-width: 575.98px) {
    .mag_bewerben .image-container .h-100 {
      height: auto !important;
    }
  }

  @media screen and (min-width: 991.98px) {
    .mag_kacheln.products {
      .card-text {
        margin-bottom: 2px;
        font-size: 12px;
        line-height: 14px;
      }
      
      .card-title.text-h2 {
        margin-bottom: 4px !important;
        font-size: 18px;
        line-height: 20px;
      }

      .text-subtext, .text-subtext p {
        margin-bottom: 5px !important;
        line-height: 20px;
      }

      .mag-button {
        min-width: 100px;
        line-height: 20px
      }
    } 

    .card-title, .card-text, .text-subtext p {
      @include elss;
    }
    
    
  }