@charset 'UTF-8';

#wrapper-navbar {
    // 서브 네브메뉴
    .sub-navmenu-wrap {
        .sub-navmenu {
            padding: 40px 0 30px;
            margin: 0 auto;
            transform: translateY(0);
            &-item {
                
            }
            &-content {
                &-inner {

                }
                &-list {
                    display: flex;
                }
                &-box {
                    flex: 1 1 auto;
                    max-width: 33.3333%;
                    padding: 15px;
                }
                &-title {
                    display: block;
                    margin-bottom: 12px;
                    color: #000;
                    font-size: 28px;
                    line-height: 43px;
                    font-weight: 300;
                }
                &-desc {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                &-img {
                    vertical-align: top;
                    &-wrapper {
                        position: relative;
                        padding-top: 45.6285%;
                    }
                    &-box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}