@charset 'UTF-8';

#wrapper-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 63px;
    line-height: 63px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(50 50 50 / 20%);
    z-index: 1030;
    &:after {
        @include clear;
    }

    .btn-home {
        float: left;
        position: relative;
        z-index: 99;
        .logo-piot {
            width: auto;
            height: 22px;
            vertical-align: -5px;
        }
    }

    .global-navmenu {
        margin: auto;
        height: 100%;
        &-wrap {
            height: 100%;
        }
        &-list {
            display: none;
            justify-content: flex-end;
            &-wrap {
                position: relative;
                padding-right: 60px;
                height: 100%;
            }
        }
        &-item {
            flex: 0 0 auto;
        }
        &-txt {
            display: block;
            padding: 0 12px;
            color: #222;
            font-size: 22px;
            font-weight: 300;
            &[aria-pressed='true']{
                color: #93e2cb;
            }
        }
        .btn-menu {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: transparent;
            z-index: 99;
            .ico_wrap {
                transform: scale(0.5);
            }
            .ico_hamburger {
                width: 60px;
                height: 45px;
                position: relative;
                transform: rotate(0deg);
                transition: .5s ease-in-out;
                cursor: pointer;
                span {
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 50%;
                    background: #1c2a49;
                    opacity: 1;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    &:nth-child(even) {
                        left: 50%;
                        border-radius: 0 9px 9px 0;
                    }
                    &:nth-child(odd) {
                        left:0px;
                        border-radius: 9px 0 0 9px;
                    }
                    &:nth-child(1), &:nth-child(2) {
                        top: 0px;
                    }
                    &:nth-child(3), &:nth-child(4) {
                        top: 18px;
                    }
                    &:nth-child(5), &:nth-child(6) {
                        top: 36px;
                    }
                }
                &.open {
                    span {
                        &:nth-child(1), &:nth-child(6) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(2), &:nth-child(5) {
                            transform: rotate(-45deg);
                        }
                        &:nth-child(1) {
                            left: 5px;
                            top: 7px;
                        }
                        &:nth-child(2) {
                            left: calc(50% - 5px);
                            top: 7px;
                        }
                        &:nth-child(3) {
                            left: -50%;
                            opacity: 0;
                        }
                        &:nth-child(4) {
                            left: 100%;
                            opacity: 0;
                        }
                        &:nth-child(5) {
                            left: 5px;
                            top: 29px;
                        }
                        &:nth-child(6) {
                            left: calc(50% - 5px);
                            top: 29px;
                        }
                    }
                }
            }
        }
    }
    .side-navmenu-wrap {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        z-index: 90;
        .side-navmenu {
            padding-top: 63px;
            height: 100%;
            transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            &-inner {
                position: relative;
                height: 100%;
            }
            &-list-wrap {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-70%, -70%);
            }
            &-main-list {
                &-item {
                    line-height: 60px;
                    & +.side-navmenu-main-list-item {
                        margin-top: 10px;
                    }
                    &-link {
                        @include elss;
                        display: inline-block;
                        max-width: 100%;
                        color: #222;
                        font-size: 50px;
                        font-weight: 300;
                        letter-spacing: -0.25px;
                        vertical-align: top;
                    }
                }
            }
            &-sub-list {
                position: relative;
                margin-top: 50px;
                padding-top: 30px;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    background-color: #555;
                    height: 1px;
                    content: '';
                }
                &-item {
                    line-height: 25px;
                    &-link {
                        @include elss;
                        display: inline-block;
                        max-width: 100%;
                        color: #4e5d34;
                        font-size: 21px;
                        font-weight: 300;
                        letter-spacing: -0.5px;
                        vertical-align: top;
                    }
                }
            }
        }
    }
    .sub-navmenu-wrap {
        display: none;
        border-top: 1px solid #ededed;
        background-color: #fff;
        .sub-navmenu {
            overflow: hidden;
            padding: 40px 0 30px;
            margin: 0 auto;
            transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
            &-item {
                display: none;
                transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            &-content {
                &-list {
                    display: flex;
                }
                &-box {
                    flex: 1 1 auto;
                    max-width: 33.3333%;
                    padding: 15px;
                }
                &-title {
                    @include elss;
                    display: block;
                    margin-bottom: 12px;
                    color: #000;
                    font-size: 28px;
                    line-height: 43px;
                    font-weight: 300;
                }
                &-desc {
                    @include elss(2, 24px);
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                &-img {
                    position: absolute;
                    top: -100%;
                    right: -100%;
                    bottom: -100%;
                    left: -100%;
                    margin: auto;
                    width: 100%;
                    height: auto;
                    border-radius: 4px;
                    transition: transform 0.15s cubic-bezier(.17,.67,.83,.67);
                    &:before {
                        @include mask;
                        background-color: #000;
                        border-radius: 4px;
                        opacity: 0.07;
                        content: '';
                    }
                    &:hover {
                        transform: scale(1.05);
                    }
                    &-wrapper {
                        position: relative;
                        padding-top: 45.6285%;
                    }
                    &-box {
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

}