@charset 'UTF-8';

@import './common/reset.scss';
@import './common/import_mixin.scss';

// @import './sprites/sprite';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');


* {
  margin: 0;
  border: 0;
  padding: 0;
  font-variant-ligatures: none;
}

body {
  font-family: "Roboto",
    'Noto Sans KR',
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  text-align: left;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

div,
span,
article,
section,
header,
footer,
main,
p,
ul,
ol,
li,
label,
::before,
::after {
  box-sizing: border-box;
}

a:-webkit-any-link {
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: transparent;
}



ol,
ul,
li {
  list-style-type: none;
}

/* Logo */
.piot-logo {
  width: auto;
  height: 22px;
}

img {
  vertical-align: middle;
}

.container {
  width: 100%;
  padding-right: 14px;
  padding-left: 14px;
  margin-right: auto;
  margin-left: auto;
}


/* Navbar Area*/

.mag_button {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  min-width: 212px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 36px;
  border: 2px solid rgb(27, 54, 93);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  letter-spacing: 3px;
}

.mag_button .mag_icon--svg {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

i {
  font-style: italic;
}

.mag_button_dark {
  color: #000;
}

.mag_button .mag_icon--svg svg {
  width: 21px;
}


/* Main Content */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.mag-button {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  min-width: 212px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 36px;
  border: 2px solid rgb(27, 54, 93);
  background-color: rgb(27, 54, 93);
  transition: all .2s ease-in;
  letter-spacing: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.smart-textarea_text {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.8s ease 0.2s,
    transform 0.8s ease 0.2s;
  color: rgb(85, 85, 85);
}

.mag-button:hover {
  color: rgb(27, 54, 93);
  background-color: #fff;
  border: 2px solid #fff
}

.header-hero-content .mag-button {
  margin: 0 14px;
}

.hero-video img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 8;
  left: 100px;
  top: 200px;
}



/* Headline Contents */
.mag_section_headline {
  padding: 50px 0;
}

.text-h1 {
  font-size: 44px;
}

.text-h2 {
  font-size: 44px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: .5px;
  color: #000;
}

.text-h4 {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: .4px;
  color: #000;
}

.text-h4 li,
.text-h4 p {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: .4px;
  color: #000;
}

.text-h5 p {
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: .5px;
}

/* Vision Contents */
.mag_kacheln {

  .row > div {
    margin-bottom: 28px;
  }
}

.home-kacheln_img {
  overflow: hidden;
}

a {
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

#header {
    padding-top: 63px;
}

#secondary img,
article img,
figure,
img,
img.wp-post-image {
  max-width: 100%;
  height: auto;
}

.home-kacheln_img img {
  transition: .6s ease;
}

.home-kacheln h4,
.home-kacheln-text {
  padding: 0 25px;
}

.home-kacheln h4 {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: .4px;
  color: #000;
}

.home-kacheln p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Application Section Title */
.mag_section_title {
  padding: 50px 0;
}

.mag_section_title .smart-textarea {
  padding: 0;
}

.text-cap {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: 3.5px;
  color: #000;
}

.mag_section_title h2 {
  margin: 0 !important;
}

/* References Section */
.mag_clients {
  padding: 50px 0;
}

.mag_clients .client_logo img {
  max-height: 52px;
}

/* Divider */
.divider {
  height: 60px;
  position: relative;
}

.divider:after {
  content: '';
  height: 2px;
  background: #ebeeee;
  position: absolute;
  top: 50%;
  left: 14px;
  right: 14px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: auto;
}

/* Projects Section */
.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}

/* Apply Section */
.mag_bewerben {
  background-color: #ebeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.mag_bewerben>.container {
  padding: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

.mag_bewerben .row {
  align-items: center;
  margin: 0;
}

.mag_bewerben .textblock {
  padding: 0 55px;
}

.mag-button {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  min-width: 212px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 36px;
  border: 2px solid rgb(27, 54, 93);
  transition: all .2s ease-in;
  letter-spacing: 3px;
}

.mag-button__filled {
  background-color: rgb(27, 54, 93);
}

.mag-button_dark {
  color: #000;
}

.mag-button {
  padding-left: 15px;
  padding-right: 15px;
}

.mag_bewerben .image-container img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .mag_bewerben .image-container img {
    min-height: 600px;
  }
}

.mag_bewerben .image-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0 0 0 9px;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.video-play-button span {
  transition: border .2s ease-in;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 26px solid #fff;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(27, 54, 93);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .2s ease-in;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  background: 0 0;
  border: 2px solid rgb(27, 54, 93);
  border-radius: 50%;
  transition: all .2s;
  transition: border .2s;
  transition: background-color .2s ease-in;
}


/* News Section */
.mag_news_preview {
  padding: 0 0 50px 0;
}

.mag_buttons {
  padding: 90px 0;
}

.mag_button {
  padding-left: 15px;
  padding-right: 15px;
}

.buttons-list .mag_button {
  margin: 0 18px;
}

.mag_events_preview .row>.col,
.mag_events_preview .row>[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}

.h-100 {
  height: 100% !important;
}

.event-item {
  position: relative;
  background: #ebeeee;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
}

.event-item-inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mag_events_preview .row {
  margin: 0;
}

.mag_events_preview .no-thumb {
  min-height: 400px;
}

.mag_events_preview .event-col {
    position: relative;
    &:after {
        content: '';
        box-shadow: 0 0 10px 0 #4d4d4d;
        opacity: 0;
        transition: opacity .2s ease;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
.mag_bewerben {
  background-color: #ebeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.mag_bewerben>.container {
  padding: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

.mag_bewerben .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.mag_button__filled {
  background-color: rgb(27, 54, 93);
}

.mag_button {
  padding-left: 15px;
  padding-right: 15px;
}

.mag_button_light {
  color: #fff;
}

.mag_bewerben .image-container img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.mag_bewerben .image-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
}


.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0 0 0 9px;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(27, 54, 93);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  background: 0 0;
  border: 2px solid rgb(27, 54, 93);
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition: border .2s;
  transition: border .2s;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 26px solid #fff;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.video-play-button span {
  -webkit-transition: border .2s ease-in;
  transition: border .2s ease-in;
}

/* Footer Area */
.site-footer {
  padding: 50px 0;
}

.site-footer .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer .menu li {
  display: inline;
  position: relative;
}

.site-footer .menu li:last-child {
  border: none;
}

.site-footer .menu li a {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: .5px;
  color: #6c6b6b;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.site-footer .menu li:after {
  content: "";
  width: 1px;
  height: 13px;
  background: #6c6b6b;
  display: inline-block;
  margin: 0 4px 0 7px;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.site-footer .footer-logo {
  height: 41px;
}

.text-right {
  text-align: right !important;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5)
}

.transition {
  animation: fadeInUp 1s;
}

.news-item {
    position: relative;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

@import './import/import_nav'; // 네비
@import './import/import_banner'; // 상단 배너
@import './import/import_media'; // 반응형
